body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-image: url("../assets/white.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 1200px) {
  body {
    background-image: url("../assets/white.png");
  }
}

#reels {
  display: flex;
  margin: auto;
  display: flex;
  width: 200px;
  height: 600px;
  max-height: calc(90vh - 50px - 40px);
  max-width: calc((4 / 3) * (90vh - 50px - 40px));
}

.reel {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.reel > .icons > img {
  width: 200px;
  margin: -3px 0 0 -3px;
  height: 200px;

  /* enable gpu accelaration, fixes iOS flicker */
  transform: translate3d(0, 0, 0);
}

#controls {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

#spin {
  background-color: rgba(219, 9, 9, 0.9);
}

#jackpot {
  color: #dd0000;
  font-size: 40px;
  text-align: center;
}

#slot.inverted .reel {
  transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}
